Source: ktlv
Section: devel
Priority: extra
Maintainer: Aleksey Morarash <aleksey.morarash@gmail.com>
Build-Depends: debhelper, erlang-dev, erlang-edoc, erlang-eunit,
 python, golang
Standards-Version: 4.1.4
Homepage: https://github.com/tuxofil/ktlv

Package: erlang-ktlv
Architecture: all
Depends: erlang-base
Description: KTLV codec for Erlang.
 KTLV codec for Erlang.

Package: python-ktlv
Architecture: all
Depends: python
Description: KTLV codec for Python.
 KTLV codec for Python.

Package: golang-ktlv
Architecture: all
Description: KTLV codec for Go.
 KTLV codec for Go.
